<h1>Not Found Component</h1>

<form #ngform="ngForm" #oref>
  <div class="resend-pin center-aligned">
    <div class="opt-input">
      <mat-form-field>
        <input
          matInput
          type="tel"
          #firstInput
          required
          name="input1"
          id="input1"
          [(ngModel)]="otpInputFields.intakeMasked[0]"
          maxlength="1"
          (keyup)="tabTrigger($event, 0)"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="tel"
          maxlength="1"
          required
          name="input2"
          id="input2"
          [(ngModel)]="otpInputFields.intakeMasked[1]"
          (keyup)="tabTrigger($event, 1)"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="tel"
          maxlength="1"
          required
          name="input3"
          id="input3"
          [(ngModel)]="otpInputFields.intakeMasked[2]"
          (keyup)="tabTrigger($event, 2)"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="tel"
          maxlength="1"
          required
          name="input4"
          id="input4"
          [(ngModel)]="otpInputFields.intakeMasked[3]"
          (keyup)="tabTrigger($event, 3)"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="tel"
          maxlength="1"
          required
          name="input5"
          id="input5"
          [(ngModel)]="otpInputFields.intakeMasked[4]"
          (keyup)="tabTrigger($event, 4)"
        />
      </mat-form-field>
    </div>
  </div>
</form>
<button (click)="submit()">submit</button>
